{
  "openapi": "3.0.3",
  "info": {
    "title": "Bank Statement Converter API",
    "description": "API for converting bank statement PDFs to other formats.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bankstmtconverter.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sync": {
      "post": {
        "summary": "Convert Bank Statement (Sync)",
        "description": "Convert a bank statement PDF synchronously.",
        "operationId": "convertBankStatementSync",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "URL of the bank statement file to be converted (PDF). **Required**",
                    "example": "https://example.com/sample.pdf"
                  },
                  "page_num": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1,
                    "description": "Number of pages to be processed. **Optional** (defaults to 1)."
                  },
                  "password": {
                    "type": "string",
                    "nullable": true,
                    "description": "Password if the PDF is protected. **Optional**"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Presigned URL to download the converted file."
                    },
                    "doc_id": {
                      "type": "string",
                      "description": "Document ID for the converted file."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data."
          },
          "401": {
            "description": "Unauthorized - Invalid API key."
          },
          "422": {
            "description": "Validation Error - Invalid parameters."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/async": {
      "post": {
        "summary": "Convert Bank Statement (Async)",
        "description": "Convert a bank statement PDF asynchronously.",
        "operationId": "convertBankStatementAsync",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "URL of the bank statement file to be converted (PDF). **Required**",
                    "example": "https://example.com/sample.pdf"
                  },
                  "page_num": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1,
                    "description": "Number of pages to be processed. **Optional** (defaults to 1)."
                  },
                  "password": {
                    "type": "string",
                    "nullable": true,
                    "description": "Password if the PDF is protected. **Optional**"
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "URL to receive webhook notification after processing. **Required**",
                    "example": "https://webhook.site/xxxx"
                  }
                },
                "required": ["file", "webhook_url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion initiated successfully."
          },
          "400": {
            "description": "Bad Request - Invalid input data."
          },
          "401": {
            "description": "Unauthorized - Invalid API key."
          },
          "422": {
            "description": "Validation Error - Invalid parameters."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/balance": {
      "get": {
        "summary": "Check Remaining Credits",
        "description": "Retrieve the remaining credits available for file processing.",
        "operationId": "checkRemainingCredits",
        "responses": {
          "200": {
            "description": "Request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "remaining_credits": {
                      "type": "integer",
                      "description": "Credits remaining after your file processing."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your API Bearer token"
      }
    }
  }
}